html{
    min-height: 100%;
    position: relative;
}
body {
    /*background-image: url("http://carlitos.com.ar/DGREC/image/Fondo.jpg");*/
    background-color: #F2F2F2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/*/////ELEMENTOS MODIFICADOS GLOBAL//////*/
h1{
    color: rgb(82, 80, 80);
    font-size: 28px;
    margin: 0px;
}
input{
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    padding: 8px;
}
/*////////CABECERA////////////*/
header {
    background-color:rgba(82, 80, 80, 0.9);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 2px 2px 5px -4px;
    z-index: 20;
}
header img {
    width:13%;
    padding: 15px;
    float: left;
}
.logoCV {
    float: right;
    width: 20%;
}
/*/////////CONTENEDOR//////////////*/
.contenedor{
    margin-top: 10%; 
    margin-bottom: 90px;
}
.contenedorMenu{
    height: 150px;
    margin-top: 10%; 
    margin-bottom: -8%;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.carga{
    margin-top: 10%;
}
.contenedorEs{
    margin-top: 6%; 
    margin-bottom: 90px;
}
.caja{
    padding: 1% 5% 1% 5%;
}
.boton {
    width: 80%;
    background: rgb(0,113,188);
    border: none;
    font-size: 20px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    color: white;
}
.boton:hover{
    background: rgb(2, 97, 160);
}
.boton:disabled{
    background: rgb(10, 86, 138);
    color: rgb(150, 150, 150);
}
.botonAtras img{
    width: 50%;
}
.botonAtras{
    margin-left: 0px;
    margin-right: 1%;
    position: fixed;
    width: 10%;
}
.botonBorrar button{
    background: coral;
    color: white;
    font-size: 14px;
    border: none;
}
.botonBorrar button:hover{
    background: red;
}

/*//////////DATOS DE INGRESO//////////////*/
.contenedorIngreso{
    background-color: white;
}
.ingreso{
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 1px 0px;
    text-align: center;
    padding: 5px;
}
.ingreso h3{
    margin-top: 10px;
}
.ingreso input{
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}
.seccionBolsonSelect div, .seccionBolson input, 
#tablaResumen, #mostradorCantidad, #mostradorPeso{
    display: none;
}
.ingreso button {
    width: 80%;
    background: rgb(0,113,188);
    color: white;
    border: none;
    font-size: 20px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
/*/////////ESCRITORIO/////////*/
#divEgreso,
#divIngreso,
#divIngresoE {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px -4px;
    font-size: 32px;

}
.tituloEscritorio{
    font-size: 1.5em;
    padding: 5px;
    background-color: rgb(0,113,188);
    color: white;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
}
#divEgreso{
    margin-top: 4%;
}

/*////////INFORMACIÓN DE USUARIO//////////*/
#divInformacion{
    margin-top: 4%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    font-size: 16px;
    margin-bottom: 0.5%;
    width: 100%;
}
.infouser{
    padding: 5px;
    padding-left: 15px;
    display:flex;
}
.infouser p{
    width: 30%;
    margin-left: 5px;
    background-color: rgba(250, 220, 18,0.8);
    border-radius: 15px;
    box-shadow: 2px 2px 5px -4px;
    padding: 5px;
}
.botonIngreso,
.botonIngreso{
    width: 15%;
    padding: 15px;
}

.botonMenu{
    display: inline-block;
    width: 5%;
    padding: 15px;
    height: 100%;
}
.botonMenu img{
    width: 100%;
}
#escritorio .caja{
    margin-bottom: 100px;
}
/*/////CARGA/////////*/
#camion {
    text-align: center;
}
.cargaTitulo{
    font-size: 0.7em;
}
.contenedorCarga{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px -4px;
    font-size: 32px;
    margin-bottom: 10px;
}
.botonCargar{
    width: 50%;
}
.botonEnviar{
    display: none;
}
.contenidoCarga{
    padding: 2%;
    width: 100%;
    overflow: auto;
}
.divValidacion{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: none;
    border-radius: 15px;
}
.divValidacion p{
    color: #fff;
    font-size: 12px;
    padding-left: 20px;

}

.nombreDiv{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.nombreDiv p{
    color: #000;
    font-size: 10px;
    padding-left: 15px;
}

.tituloInput{
    font-size: 24px;
    margin: 0;
}
.inputCamion{
    width: 50%;
}
.inputCamion div{
    float: left;
    width: 80%;
}
.fecha,
.hora{
    width: 48%;
    font-size: 16px;
}
.patente {
    font-size: 16px;
    width: 50%;
}
.observacion{
    height: 1em;
    width: 50%;
    font-size: 12px;
    max-width: 50%;
    min-width: 50%;
    min-height: 1em;
    max-height: 200px;
}
#bolson .contenidoCarga{
    padding-top: 0px;
}
.mostrador{
    width: 100%;
    color:white;
}
.cajaCarga{
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
.contador{
    width: 46%;
    margin-left: 2%;
    margin-top: 2px;
    float: left;
    background-color: rgba(121, 121, 121,0.8);
}
.contador p {
    font-size: 0.6em;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
.contador #cantidadMostrado,
.contador #pesoMostrado{
    font-family: monospace;
    font-size: 1.2em;
}
.seccionBolson{
    width: 48%;
    float: left;
    padding: 1%;
    margin: 0;
    overflow: auto;
}
.seccionBolsonSelect{
    margin:0;
    width: 96%;
    padding: 5px;
    padding-top: 0.2%;
}
.seccionBolsonSelect select{
    width: 50%;
    float: left;
    font-size: 0.8em;
    text-align: center;
    background-color: #FACC2E;
}
.seccionBolson input, .seccionBolsonSelect input{
    margin: 0;
    width: 90%;
    font-size: 1em;
}
.seccionBolson table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.seccionBolson tr{
    font-size: 0.6em;
    padding: 1%;

}
.seccionBolson td{
    border: 1px solid black;
}

.seccionBolson th{
    font-weight: 900;
}
#seccionEstadistica{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 90%;
    text-align: center;
    height: 50px;
  }
.cargoMixto{
  background-color: orange;
  width: 135px;
  float: left;
  padding: 5px;
  margin-left: 10px;
  border-radius: 12px;
  margin-top: 3px;
}
.cargoMixto:first-child{
  margin-left: 0;
}
.cargoMixto td{
    font-size: 14px;
    padding-left: 10px;
}
.cargoMixto td[rowspan]{ 
  font-size: 26px; 
  margin-left: 5px;
  color: white;
  border-right: 1px solid white;
  padding-right: 12px;
}
#mostradorPesoTotal{
  width: 100%;
}
.mostradorPeso{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: none;
  border-radius: 15px;
}
.mostradorPeso p{
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 5px;
  }
/*//////FOOTER/////////*/
footer{
    position: fixed;
    background-color: rgba(160, 160, 160, 0.5);
    height: 40px;
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 20px; 
    padding: 20px;
    text-align: center;
}
footer h1{
    text-align: center;
    color: rgb(82, 80, 80);
}
footer p{
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    font-size: 14px;
    margin-top: 2px;
    width: 100%;
    float: left;
}
footer a{
    text-decoration: none;
    color: white;
    font-style: unset;
}
footer span{
    color:rgb(82, 80, 80);
}
@media screen and (max-width: 1200px){
    .seccionBolson tr{
        font-size: 0.5em;
    }

    .contenedor{
        margin-top: 12%;
    }
    .contenedorMenu{
        height: 180px;
        margin-top: 12%; 
        margin-bottom: -10%;
    }

    .botonMenu{
        width: 15%;
        padding: 10px;
    }
}
@media screen and (max-width: 1050px){
    
    footer{
        display: none;
    }
    
    .cajaCarga{
        padding: 3%;
    }

    .seccionBolson{
        width: 48%;
    }
    
    .seccionBolson tr{
        font-size: 0.35em;
    }

    .botonMenu{
        width: 14%;
        padding: 10px;
    }

}
@media screen and (max-width: 700px){
    .ingreso{
        width: 80%;
    }

    .divValidacion{
        font-size: 0.5em;
    }

    .contenedor{
        margin-top: 13%;
    }
    .contenedorMenu{
        margin-top: 13%; 
        margin-bottom: -10%;
    }

    .botonIngreso,
    .botonIngreso{
    width: 30%;
    padding: 10px;
    }

    .botonMenu{
        width: 20%;
        padding: 10px;
    }
    
    .seccionBolsonSelect select{
        width: 98%;
    }

    .seccionBolson tr{
        font-size: 0.5em;
    }

    .seccionBolson{
        width: 100%;
    }

    .divValidacion{
        width: 95%;
    }

    footer{
        height: 60px;
        text-align: left;
    }
    
}
@media screen and (max-width: 500px){
    .contenedor{
        margin-top: 20%;
    }

    .contenedorMenu{
        height: 130px;
        margin-top: 15%; 
        margin-bottom: -10%;
    }
    
    #divInformacion{
    font-size: 10px;
    }

    #divEgreso .caja{
        padding: 5%;
    }
    
    .seccionBolson input, .seccionBolsonSelect input {
        width: 80%;
    }
    
    .caja{
        padding: 10%;
    }
    
    .seccionBolson tr{
        font-size: 0.4em;
    }
    
    .contenedorCargaMovil{
        padding: 0%;
    }

    .cajaMovil{
        padding: 0%;
    }
    

    .cajaCarga{
        padding-top: 2%;
    }

    .fecha,
    .hora,
    .patente {
        font-size: 12px;
        width: 85%;
    }

    .observacion{
        height: 18px;
        width: 85%;
        font-size: 24px;
        max-width: 85%;
        min-width: 85%;
        min-height: 18px;
        max-height: 50px;
    }

    
    .contenedorCargaMovil{
        margin-top: 12%;;
    }

    .contador #cantidadMostrado,
    .contador #pesoMostrado{
    font-family: monospace;
    font-size: 0.8em;
    }

    .tituloEscritorio{
        font-size: 18px;
    }

    .tituloInput{
        font-size: 15px;
    }

    .inputCamion{
        width: 85%;
        margin: 0px 20px 0px 20px;
    }

    .inputCamion div{
        float: left;
        width: 100%;
    }

    #seccionEstadistica{
        padding-bottom: 5px;
      }
    
      .cargoMixto{
        width: 100%;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
      }

      .cargoMixto td{
          font-size: 10px;
          padding-left: 5px;
      }
      .cargoMixto td[rowspan]{ 
        font-size: 18px; 
        margin-left: 5px;
        color: white;
        border-right: 1px solid white;
        padding-right: 12px;
      }
      
      .cargoMixto:last-child {
          margin-bottom: 5px
      }

      #botonAtrasMovil{
        display: block;
      }

      #botonAtras{
          display: none;
      }

      .botonAtrasMovil button{
        
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        position: static;
        width: 100%;
        background-color: coral;
        color: white;
        text-align: center;
        font-size: 1.5em;
        padding: 5px;
        border: none;
        border-radius: 10px;
    }
    
    
}
@media screen and (max-width: 370px){
    .contenedorMenu{
        height: 90px; 
        margin-bottom: -12%;
    }

    .botonMenu{
        width: 18%;
    }
}

/*//////////////ALERTAS/////////////////*/

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: rgba(250, 220, 18,0.8);
  color: #555;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.swal-button--normal:not([disabled]):hover {
    background-color: #E1B605;
}
.swal-button--rapido:not([disabled]):hover {
    background-color: #E1B605;
}
.swal-button:not([disabled]):hover {
    background-color: #E1B605;
}

/*///////MENU RESPONSIVE ////////////*/
.lista{margin-top:5px; text-align:left;margin-bottom: 5px;}
.obj{
	height:10px;
	margin-top:30px 0;
	padding-left:115px;
	clear:both;
}
.obj .img, .item span{background:#214273; border-radius:3px;}
.obj .img{float:left; width:60px; height:10px; margin-left:-93px;}
.obj span{height:2px; width:180px; margin-bottom:5px; float:left;}
.obj span:nth-of-type(3){width:75px; margin-botom:0;}
.menu {
    font-size: 30px;
    color: white;
    display: none;
}
.menu ul{
    text-align: center;
    margin-top: 60px;
}
.menu li {
    list-style: none;
    margin-bottom: 20px;
}
.menu .cerrar{
    margin-top: 100px;
    color: #770000;
}

header .logo-menu{
    width: 20%;
    float: none;
}

@media screen and (min-width: 550px){
    .obj span{
        margin-bottom: 15px;
    }
}


